.custom-layout {
  height: calc(100vh - 84px);

  --sp-colors-surface2: #000000;
  --sp-border-radius: 12px;
  --sp-layout-height: 100%;

  border: 1px solid #444 !important;
}

.custom-tabs {
  display: none;
}

.custom-tab {
  font-size: 16px !important;
  font-family: var(--font-base) !important;
}

.custom-navigator {
  background-color: #151515 !important;
  border-bottom: 1px solid #151515 !important;
}

.custom-console {
  height: 300px !important;
}

.custom-code-editor {
  --sp-font-size: 15px;

  margin: 0 !important;
  font-size: 15px !important;
}

.custom-file-explorer {
  font-size: 15px !important;
}
